# Activer la réécriture d'URL

RewriteEngine On

# Rediriger toutes les requêtes vers public/index.php sauf les fichiers et dossiers existants

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ public/index.php [QSA,L]

# Forcer UTF-8

AddDefaultCharset UTF-8

# Sécuriser les fichiers sensibles

<FilesMatch "\.(htaccess|env|git|ini|log|sh|bak|sql)$">
Order allow,deny
Deny from all
</FilesMatch>

# Désactiver l'affichage du listing de répertoire

Options
